@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding:0;
    margin: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p, small {
    font-family: 'Roboto', sans-serif;
}

.light {
    background-color: #fcfcfc;
}

.dark { 
    color: #ededed;
    background-color: #0a0a14;
}

.primaryAccent {
    background-color: #7b9e96;
}

.secondaryAccent {
    background-color: #799175;
}

.brand {
    background-color: #016838;
}

.evergreen-events-card, .evergreen-officers-card {

    width: 18rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    background: transparent;
    position: relative;
}

.evergreen-events-card {
    overflow: hidden;
    height: 24rem;

}

.evergreen-officers-card {
    height: 21rem;

}

.evergreen-card-img, .evergreen-card-body {
    position: absolute;
    width: 18rem;
}

.evergreen-card-img {
    object-fit: contain;
    max-width: 18rem;
}

.evergreen-events-card  > .evergreen-card-img-container {

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    top: 0px;
    left: 0px;
    max-width: 18rem;
    overflow: hidden;
}


.evergreen-events-card  > .evergreen-card-body {
    -webkit-border-radius: 0px 15px 15px 15px;
    -moz-border-radius: 0px 15px 15px 15px;
    border-radius: 0px 15px 15px 15px;

    top: 150px;
    left: 0px;
    bottom: 0px;
    background-color: #aaaaaa;

}

.evergreen-officers-card  > .evergreen-card-img {

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    top: 0px;
    left: 0px;
    max-width: 18rem;
    transform: scale(0.95);
    z-index: 1;
}


.evergreen-officers-card  > .evergreen-card-body {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    top: 150px;
    left: 0px;
    bottom: 0px;
    background-color: #aaaaaa;
    z-index: 0;

}

.twitter-btn, .facebook-btn, .instagram-btn {
    width: 40;
    height: 40;
}