<!DOCTYPE html5>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Stylesheets-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../evergreen-index.css">
        <link rel="stylesheet" href="../components-css/css/header.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    </head>

    <body class="">
        <!-- Header Component-->
        <header>
            
            <!-- Top portion of header-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">UoS Students' Union</a>
                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
                  <div class="navbar-collapse collapse" id="navbarLinks">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">

                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Your Union</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Your Voice</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Your Opportunities</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">In The Union</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Sports and Societies</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#">Support and Advice</a>
                      </li>

                    </ul>

                    <div class="d-grid ms-lg-auto mb-2 mb-lg-0 d-grid d-lg-block gap-2">
                        <ul class="navbar-nav row">
    
                            <li class="col py-2 p-lg-0 px-lg-2 nav-item text-center">
    
                                <a class="btn btn-light nav-btn w-100" type="button"> Basket </a>
    
                            </li>
    
                            <li class="col py-2 p-lg-0 px-lg-2 nav-item text-center">
                                <a class="btn btn-light nav-btn w-100" type="button"> Login </a>
                            </li>
    
                            
                        </ul>
                    </div>
                    

                  </div>
                </div>
              </nav>
            
            <!-- Bottom portion of header-->
            <div class="d-none d-lg-block p-3 text-light bg-dark">
                <ul class="header-items d-flex justify-content-evenly">

                    <li class="header-item">
                        <a> Home </a>
                    </li>

                    <li class="header-item">
                        <a> Your Union </a>
                    </li>

                    <li class="header-item">
                        <a> Your Voice </a>
                    </li>

                    <li class="header-item">
                        <a> Your Opportunities </a>
                    </li>

                    <li class="header-item">
                        <a> Sports and Societies </a>
                    </li>

                    <li class="header-item">
                        <a> In The Union </a>
                    </li>

                    <li class="header-item">
                        <a> Support and Advice </a>
                    </li>

                </ul>
            </div>
        </header>

        


        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>